*{
	margin: 0% ;
	font-family: 'Castoro', serif;
	box-sizing: content-box;
}

body{
	margin: 0%;
}

.navbar{
background-color: #f1f2f6;
background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);


}

.container__footer{
background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);}

.footer-links >a{
	color:rgb(184, 10, 10);
}